.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    z-index: 999; /* Ensure the header appears above other elements */
  }

.error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.error-message {
    background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
}


.search-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px; 
    margin-top: 30px;
    width: 400px;
  }
  
  .search-input {
    border: none; 
    outline: none; 
    
  }



.card_style{
    cursor: pointer;
    transition: .3s;
}
  
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .itemsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
      }
      
  }