body{
  overflow-x: hidden;
  background-color:#e3e6ca ;
}

/*Header section*/
.navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    z-index: 1;
  }

.fa-cart-shopping {
    font-size: 1.5625rem; 
    cursor: pointer;

  }
 
  @media (max-width: 300px){
    .navbar{
      height: 80px;
    }
  }

  /* SearchProduct */
.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px; 
    margin-top: 30px;
    width: 400px;
  }
  
  .search-input {
    border: none; 
    outline: none; 
  }

  /* Cards section */
  .card{
    width: auto;
    border: none;
    cursor: pointer;
    transition: .3s;
  }
 
  .card_style:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

 
/*CardsDetails*/
.fa-trash{
  color: red;
  font-size: 1.25rem;
  cursor: pointer;   
 }

/* Filter */

.my-element{
  list-style-type: none;
  transform: scale(1);
  margin-bottom: -10px;
}
